
# dependencies:
path.py
Mako
Flask
matplotlib
six


# pip
cffi
gtimer
nose2
psutil
plotly
PyPrind
PyOpenGL
cloudpickle
cached_property

joblib==0.12
Theano==1.0.2
Lasagne==0.2.dev1
numpy==1.14.5
tensorflow>=1.12.0,<2.0.0
mkl-service==1.1.2
mkl==2017.0.4
